.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35px;
    height: 65%;
    align-self: center;
    z-index: 1000;
    cursor: pointer;
    

}

.button > span{
    /* border: 1px solid #ED1779; */
    padding: 2.5px;
    margin: 1.5px;
    background-color: #2a7fb1;
    border-radius: 2rem;
    box-shadow: 0px 1px 10px #2a7fb1;
    
    
}

.button:hover > span{
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
    transition: all 0.1s;

}